# Airbnb San Francisco Data Cleaning

This notebook loads and inspects Airbnb's San Francisco raw "listings" dataset.  

Datasets included:
- listings.csv

Goal: identify issues, clean data, and prepare it for EDA.

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Display all columns when displaying data
pd.set_option('display.max_columns', None)

In [50]:
listings = pd.read_csv('/Users/mohammedzareef-mustafa/Downloads/Tech Career/Tech Projects/Projects/airbnb-sf-eda/data/raw/listings.csv')

In [51]:
listings.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,958,https://www.airbnb.com/rooms/958,20250901181253,2025-09-01,city scrape,"Bright, Modern Garden Unit - 1BR/1BTH",Our bright garden unit overlooks a lovely back...,Quiet cul de sac in friendly neighborhood<br /...,https://a0.muscache.com/pictures/be1bf5ac-a955...,1169,https://www.airbnb.com/users/show/1169,Holly,2008-07-31,"San Francisco, CA",We are a family of four that live upstairs. W...,within an hour,100%,100%,t,https://a0.muscache.com/im/pictures/user/efdad...,https://a0.muscache.com/im/pictures/user/efdad...,Duboce Triangle,1.0,1.0,"['email', 'phone']",t,t,Neighborhood highlights,Western Addition,NaN,37.77028,-122.43317,Entire serviced apartment,Entire home/apt,3,1.0,1 bath,1.0,2.0,"[""Clothing storage: closet and dresser"", ""Esse...",$157.00,2,30,2.0,2.0,1125.0,1125.0,2.0,1125.0,NaN,t,5,9,17,224,2025-09-01,496,41,3,24,50,255,40035.0,2009-07-23,2025-08-16,4.89,4.94,4.93,4.96,4.89,4.98,4.78,STR-0006854,f,1,1,0,0,2.53
1,5858,https://www.airbnb.com/rooms/5858,20250901181253,2025-09-01,city scrape,Creative Sanctuary,We live in a large Victorian house on a quiet ...,I love how our neighborhood feels quiet but is...,https://a0.muscache.com/pictures/hosting/Hosti...,8904,https://www.airbnb.com/users/show/8904,Philip Jonathon,2009-03-02,"San Francisco, CA",Philip: English transplant to the Bay Area and...,within a day,70%,81%,f,https://a0.muscache.com/im/users/8904/profile_...,https://a0.muscache.com/im/users/8904/profile_...,Bernal Heights,2.0,2.0,"['email', 'phone', 'work_email']",t,t,Neighborhood highlights,Bernal Heights,NaN,37.74474,-122.42089,Entire rental unit,Entire home/apt,4,2.0,2 baths,2.0,2.0,"[""Carbon monoxide alarm"", ""Shampoo"", ""Hair dry...",$250.00,30,90,30.0,30.0,90.0,90.0,30.0,90.0,NaN,t,22,52,82,357,2025-09-01,105,0,0,114,0,0,0.0,2009-05-03,2017-08-06,4.87,4.85,4.87,4.89,4.85,4.77,4.68,NaN,f,1,1,0,0,0.53
2,8014,https://www.airbnb.com/rooms/8014,20250901181253,2025-09-01,city scrape,female HOST quiet fast internet market parking,Room is on the second floor so it gets a good ...,"The neighborhood is very residential, close to...",https://a0.muscache.com/pictures/2cc1fc3d-0ae0...,22402,https://www.airbnb.com/users/show/22402,Jia,2009-06-20,"San Francisco, CA",Airbnbing while we are doing some renovation a...,within an hour,100%,96%,t,https://a0.muscache.com/im/users/22402/profile...,https://a0.muscache.com/im/users/22402/profile...,Sunnyside,3.0,8.0,"['email', 'phone']",t,t,Neighborhood highlights,Outer Mission,NaN,37.73077,-122.44827,Private room in home,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Dryer"", ""Essentials"", ""Hangers"", ""Backyard"",...",$67.00,4,60,4.0,4.0,60.0,60.0,4.0,60.0,NaN,t,0,12,42,42,2025-09-01,90,1,0,42,2,11,737.0,2012-08-03,2025-07-03,4.77,4.74,4.30,4.92,4.94,4.59,4.66,STR-0000974,f,3,0,3,0,0.57
3,8142,https://www.airbnb.com/rooms/8142,20250901181253,2025-09-01,city scrape,*FriendlyRoom Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,"N Juda Muni, Bus and UCSF Shuttle.<br /><br />...",https://a0.muscache.com/pictures/hosting/Hosti...,21994,https://www.airbnb.com/users/show/21994,Aaron,2009-06-17,"San Francisco, CA",7 minutes walk to UCSF hospital & school campu...,within a few hours,100%,86%,t,https://a0.muscache.com/im/users/21994/profile...,https://a0.muscache.com/im/users/21994/profile...,Cole Valley,20.0,21.0,"['email', 'phone']",t,t,Neighborhood highlights,Haight Ashbury,NaN,37.76555,-122.45213,Private room in rental unit,Private room,1,4.0,4 shared baths,3.0,1.0,"[""Dedicated workspace"", ""Hangers"", ""Fire extin...",$56.00,32,90,32.0,32.0,90.0,90.0,32.0,90.0,NaN,t,27,57,87,362,2025-09-01,10,0,0,119,0,0,0.0,2014-09-08,2023-07-30,4.70,4.50,4.50,4.80,4.80,4.70,4.70,NaN,f,20,0,20,0,0.07
4,8339,https://www.airbnb.com/rooms/8339,20250901181253,2025-09-01,city scrape,Historic Alamo Square Victorian,"For creative humans who love art, space, photo...",NaN,https://a0.muscache.com/pictures/miso/Hosting-...,24215,https://www.airbnb.com/users/show/24215,Rosmarie,2009-07-02,"San Francisco, CA",I'm an Interior Stylist living in SF.,within a few hours,100%,0%,f,https://a0.muscache.com/im/pictures/user/3e1a7...,https://a0.muscache.com/im/pictures/user/3e1a7...,Alamo Square,1.0,5.0,"['email', 'phone']",t,t,NaN,Western Addition,NaN,37.77377,-122.43614,Entire condo,Entire home/apt,2,1.5,1.5 baths,1.0,1.0,"[""Dedicated workspace"", ""Essentials"", ""Hangers...",$527.00,9,91,9.0,9.0,91.0,91.0,9.0,91.0,NaN,t,1,22,52,327,2025-09-01,25,0,0,84,0,0,0.0,2010-04-14,2019-06-28,4.86,4.88,5.00,4.94,5.00,4.94,4.75,STR-0000264,f,1,1,0,0,0.13

In [52]:
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7780 entries, 0 to 7779
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7780 non-null   int64
 1   listing_url                                   7780 non-null   object
 2   scrape_id                                     7780 non-null   int64
 3   last_scraped                                  7780 non-null   object
 4   source                                        7780 non-null   object
 5   name                                          7780 non-null   object
 6   description                                   7688 non-null   object
 7   neighborhood_overview                         4683 non-null   object
 8   picture_url                                   7780 non-null   object
 9   host_id                                       7780 non-null   int64
 10  host_url                                      7780 non-null   object
 11  host_name                                     7779 non-null   object
 12  host_since                                    7779 non-null   object
 13  host_location                                 5917 non-null   object
 14  host_about                                    4696 non-null   object
 15  host_response_time                            6627 non-null   object
 16  host_response_rate                            6627 non-null   object
 17  host_acceptance_rate                          6971 non-null   object
 18  host_is_superhost                             7643 non-null   object
 19  host_thumbnail_url                            7779 non-null   object
 20  host_picture_url                              7779 non-null   object
 21  host_neighbourhood                            7444 non-null   object
 22  host_listings_count                           7779 non-null   float64
 23  host_total_listings_count                     7779 non-null   float64
 24  host_verifications                            7779 non-null   object
 25  host_has_profile_pic                          7779 non-null   object
 26  host_identity_verified                        7779 non-null   object
 27  neighbourhood                                 4683 non-null   object
 28  neighbourhood_cleansed                        7780 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7780 non-null   float64
 31  longitude                                     7780 non-null   float64
 32  property_type                                 7780 non-null   object
 33  room_type                                     7780 non-null   object
 34  accommodates                                  7780 non-null   int64
 35  bathrooms                                     5846 non-null   float64
 36  bathrooms_text                                7729 non-null   object
 37  bedrooms                                      7291 non-null   float64
 38  beds                                          5822 non-null   float64
 39  amenities                                     7780 non-null   object
 40  price                                         5795 non-null   object
 41  minimum_nights                                7780 non-null   int64
 42  maximum_nights                                7780 non-null   int64
 43  minimum_minimum_nights                        7770 non-null   float64
 44  maximum_minimum_nights                        7770 non-null   float64
 45  minimum_maximum_nights                        7770 non-null   float64
 46  maximum_maximum_nights                        7770 non-null   float64
 47  minimum_nights_avg_ntm                        7780 non-null   float64
 48  maximum_nights_avg_ntm                        7780 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7524 non-null   object
 51  availability_30                               7780 non-null   int64
 52  availability_60                               7780 non-null   int64
 53  availability_90                               7780 non-null   int64
 54  availability_365                              7780 non-null   int64
 55  calendar_last_scraped                         7780 non-null   object
 56  number_of_reviews                             7780 non-null   int64
 57  number_of_reviews_ltm                         7780 non-null   int64
 58  number_of_reviews_l30d                        7780 non-null   int64
 59  availability_eoy                              7780 non-null   int64
 60  number_of_reviews_ly                          7780 non-null   int64
 61  estimated_occupancy_l365d                     7780 non-null   int64
 62  estimated_revenue_l365d                       5795 non-null   float64
 63  first_review                                  5910 non-null   object
 64  last_review                                   5910 non-null   object
 65  review_scores_rating                          5910 non-null   float64
 66  review_scores_accuracy                        5910 non-null   float64
 67  review_scores_cleanliness                     5910 non-null   float64
 68  review_scores_checkin                         5909 non-null   float64
 69  review_scores_communication                   5910 non-null   float64
 70  review_scores_location                        5909 non-null   float64
 71  review_scores_value                           5909 non-null   float64
 72  license                                       5133 non-null   object
 73  instant_bookable                              7780 non-null   object
 74  calculated_host_listings_count                7780 non-null   int64
 75  calculated_host_listings_count_entire_homes   7780 non-null   int64
 76  calculated_host_listings_count_private_rooms  7780 non-null   int64
 77  calculated_host_listings_count_shared_rooms   7780 non-null   int64
 78  reviews_per_month                             5910 non-null   float64
dtypes: float64(24), int64(20), object(35)
memory usage: 4.7+ MB

In [53]:
listings.isna().sum().sort_values(ascending=False).head(20)

neighbourhood_group_cleansed    7780
calendar_updated                7780
neighborhood_overview           3097
neighbourhood                   3097
host_about                      3084
license                         2647
price                           1985
estimated_revenue_l365d         1985
beds                            1958
bathrooms                       1934
review_scores_location          1871
review_scores_value             1871
review_scores_checkin           1871
first_review                    1870
last_review                     1870
review_scores_rating            1870
review_scores_accuracy          1870
review_scores_cleanliness       1870
review_scores_communication     1870
reviews_per_month               1870
dtype: int64

In [54]:
date_cols = ['last_scraped', 'host_since', 'first_review', 'last_review']
listings[date_cols]

     last_scraped  host_since first_review last_review
0      2025-09-01  2008-07-31   2009-07-23  2025-08-16
1      2025-09-01  2009-03-02   2009-05-03  2017-08-06
2      2025-09-01  2009-06-20   2012-08-03  2025-07-03
3      2025-09-01  2009-06-17   2014-09-08  2023-07-30
4      2025-09-01  2009-07-02   2010-04-14  2019-06-28
...           ...         ...          ...         ...
7775   2025-09-01  2018-04-06          NaN         NaN
7776   2025-09-01  2013-10-02          NaN         NaN
7777   2025-09-01  2012-07-30          NaN         NaN
7778   2025-09-01  2016-10-09          NaN         NaN
7779   2025-09-01  2014-06-07          NaN         NaN

[7780 rows x 4 columns]

In [55]:
# convert columns that should be dates
date_cols = ['last_scraped', 'host_since', 'first_review', 'last_review']

for col in date_cols:
    listings[col] = pd.to_datetime(listings[col], errors='coerce')

# quick check
listings[date_cols]

     last_scraped host_since first_review last_review
0      2025-09-01 2008-07-31   2009-07-23  2025-08-16
1      2025-09-01 2009-03-02   2009-05-03  2017-08-06
2      2025-09-01 2009-06-20   2012-08-03  2025-07-03
3      2025-09-01 2009-06-17   2014-09-08  2023-07-30
4      2025-09-01 2009-07-02   2010-04-14  2019-06-28
...           ...        ...          ...         ...
7775   2025-09-01 2018-04-06          NaT         NaT
7776   2025-09-01 2013-10-02          NaT         NaT
7777   2025-09-01 2012-07-30          NaT         NaT
7778   2025-09-01 2016-10-09          NaT         NaT
7779   2025-09-01 2014-06-07          NaT         NaT

[7780 rows x 4 columns]

In [56]:
money_cols = ['price', 'estimated_revenue_l365d']
listings[money_cols]

        price  estimated_revenue_l365d
0     $157.00                  40035.0
1     $250.00                      0.0
2      $67.00                    737.0
3      $56.00                      0.0
4     $527.00                      0.0
...       ...                      ...
7775  $333.00                      0.0
7776  $168.00                      0.0
7777   $46.00                      0.0
7778   $90.00                      0.0
7779  $380.00                      0.0

[7780 rows x 2 columns]

In [57]:
# clean up money fields (strip $, commas, turn into float)
money_cols = ['price', 'estimated_revenue_l365d']

for col in money_cols:
    listings[col] = (
        listings[col]
        .astype(str)
        .str.replace('$', '', regex=False)
        .str.replace(',', '', regex=False)
        .replace('nan', np.nan)
        .astype(float)
    )

# quick check
listings[money_cols]

      price  estimated_revenue_l365d
0     157.0                  40035.0
1     250.0                      0.0
2      67.0                    737.0
3      56.0                      0.0
4     527.0                      0.0
...     ...                      ...
7775  333.0                      0.0
7776  168.0                      0.0
7777   46.0                      0.0
7778   90.0                      0.0
7779  380.0                      0.0

[7780 rows x 2 columns]

In [58]:
rate_cols = ['host_response_rate', 'host_acceptance_rate']
listings[rate_cols]

     host_response_rate host_acceptance_rate
0                  100%                 100%
1                   70%                  81%
2                  100%                  96%
3                  100%                  86%
4                  100%                   0%
...                 ...                  ...
7775               100%                 100%
7776               100%                  95%
7777               100%                 100%
7778                75%                  25%
7779                NaN                  NaN

[7780 rows x 2 columns]

In [59]:
# turn percentage style strings into numbers
rate_cols = ['host_response_rate', 'host_acceptance_rate']

for col in rate_cols:
    listings[col] = (
        listings[col]
        .str.rstrip('%')
        .astype(float)
    )

# quick check
listings[rate_cols]

      host_response_rate  host_acceptance_rate
0                  100.0                 100.0
1                   70.0                  81.0
2                  100.0                  96.0
3                  100.0                  86.0
4                  100.0                   0.0
...                  ...                   ...
7775               100.0                 100.0
7776               100.0                  95.0
7777               100.0                 100.0
7778                75.0                  25.0
7779                 NaN                   NaN

[7780 rows x 2 columns]

In [60]:
bool_cols = [
    'host_is_superhost',
    'host_has_profile_pic',
    'host_identity_verified',
    'has_availability',
    'instant_bookable'
]
listings[bool_cols]

,host_is_superhost,host_has_profile_pic,host_identity_verified,has_availability,instant_bookable
0,t,t,t,t,f
1,f,t,t,t,f
2,t,t,t,t,f
3,t,t,t,t,f
4,f,t,t,t,f
...,...,...,...,...,...
7775,t,t,t,t,t
7776,t,t,t,t,f
7777,f,t,t,t,f
7778,f,t,t,t,f
7779,f,t,t,t,t

In [61]:
# clean boolean columns safely
bool_cols = [
    'host_is_superhost',
    'host_has_profile_pic',
    'host_identity_verified',
    'has_availability',
    'instant_bookable'
]

for col in bool_cols:
    listings[col] = (
        listings[col]
        .astype(str)      # ensure string
        .str.lower()      # normalize
        .str.strip()      # remove odd whitespace
        .replace({'nan': None})  # handle missing
        .map({'t': True, 'f': False})
    )

# check results
listings[bool_cols]

,host_is_superhost,host_has_profile_pic,host_identity_verified,has_availability,instant_bookable
0,True,True,True,True,False
1,False,True,True,True,False
2,True,True,True,True,False
3,True,True,True,True,False
4,False,True,True,True,False
...,...,...,...,...,...
7775,True,True,True,True,True
7776,True,True,True,True,False
7777,False,True,True,True,False
7778,False,True,True,True,False
7779,False,True,True,True,True

In [62]:
# high level check
listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7780 entries, 0 to 7779
Data columns (total 79 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            7780 non-null   int64
 1   listing_url                                   7780 non-null   object
 2   scrape_id                                     7780 non-null   int64
 3   last_scraped                                  7780 non-null   datetime64[ns]
 4   source                                        7780 non-null   object
 5   name                                          7780 non-null   object
 6   description                                   7688 non-null   object
 7   neighborhood_overview                         4683 non-null   object
 8   picture_url                                   7780 non-null   object
 9   host_id                                       7780 non-null   int64
 10  host_url                                      7780 non-null   object
 11  host_name                                     7779 non-null   object
 12  host_since                                    7779 non-null   datetime64[ns]
 13  host_location                                 5917 non-null   object
 14  host_about                                    4696 non-null   object
 15  host_response_time                            6627 non-null   object
 16  host_response_rate                            6627 non-null   float64
 17  host_acceptance_rate                          6971 non-null   float64
 18  host_is_superhost                             7643 non-null   object
 19  host_thumbnail_url                            7779 non-null   object
 20  host_picture_url                              7779 non-null   object
 21  host_neighbourhood                            7444 non-null   object
 22  host_listings_count                           7779 non-null   float64
 23  host_total_listings_count                     7779 non-null   float64
 24  host_verifications                            7779 non-null   object
 25  host_has_profile_pic                          7779 non-null   object
 26  host_identity_verified                        7779 non-null   object
 27  neighbourhood                                 4683 non-null   object
 28  neighbourhood_cleansed                        7780 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      7780 non-null   float64
 31  longitude                                     7780 non-null   float64
 32  property_type                                 7780 non-null   object
 33  room_type                                     7780 non-null   object
 34  accommodates                                  7780 non-null   int64
 35  bathrooms                                     5846 non-null   float64
 36  bathrooms_text                                7729 non-null   object
 37  bedrooms                                      7291 non-null   float64
 38  beds                                          5822 non-null   float64
 39  amenities                                     7780 non-null   object
 40  price                                         5795 non-null   float64
 41  minimum_nights                                7780 non-null   int64
 42  maximum_nights                                7780 non-null   int64
 43  minimum_minimum_nights                        7770 non-null   float64
 44  maximum_minimum_nights                        7770 non-null   float64
 45  minimum_maximum_nights                        7770 non-null   float64
 46  maximum_maximum_nights                        7770 non-null   float64
 47  minimum_nights_avg_ntm                        7780 non-null   float64
 48  maximum_nights_avg_ntm                        7780 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              7524 non-null   object
 51  availability_30                               7780 non-null   int64
 52  availability_60                               7780 non-null   int64
 53  availability_90                               7780 non-null   int64
 54  availability_365                              7780 non-null   int64
 55  calendar_last_scraped                         7780 non-null   object
 56  number_of_reviews                             7780 non-null   int64
 57  number_of_reviews_ltm                         7780 non-null   int64
 58  number_of_reviews_l30d                        7780 non-null   int64
 59  availability_eoy                              7780 non-null   int64
 60  number_of_reviews_ly                          7780 non-null   int64
 61  estimated_occupancy_l365d                     7780 non-null   int64
 62  estimated_revenue_l365d                       5795 non-null   float64
 63  first_review                                  5910 non-null   datetime64[ns]
 64  last_review                                   5910 non-null   datetime64[ns]
 65  review_scores_rating                          5910 non-null   float64
 66  review_scores_accuracy                        5910 non-null   float64
 67  review_scores_cleanliness                     5910 non-null   float64
 68  review_scores_checkin                         5909 non-null   float64
 69  review_scores_communication                   5910 non-null   float64
 70  review_scores_location                        5909 non-null   float64
 71  review_scores_value                           5909 non-null   float64
 72  license                                       5133 non-null   object
 73  instant_bookable                              7780 non-null   bool
 74  calculated_host_listings_count                7780 non-null   int64
 75  calculated_host_listings_count_entire_homes   7780 non-null   int64
 76  calculated_host_listings_count_private_rooms  7780 non-null   int64
 77  calculated_host_listings_count_shared_rooms   7780 non-null   int64
 78  reviews_per_month                             5910 non-null   float64
dtypes: bool(1), datetime64[ns](4), float64(27), int64(20), object(27)
memory usage: 4.6+ MB

In [63]:
# quick look at top 20 columns with missing values
listings.isna().sum().sort_values(ascending=False).head(20)

neighbourhood_group_cleansed    7780
calendar_updated                7780
neighborhood_overview           3097
neighbourhood                   3097
host_about                      3084
license                         2647
price                           1985
estimated_revenue_l365d         1985
beds                            1958
bathrooms                       1934
review_scores_location          1871
review_scores_value             1871
review_scores_checkin           1871
first_review                    1870
last_review                     1870
review_scores_rating            1870
review_scores_accuracy          1870
review_scores_cleanliness       1870
review_scores_communication     1870
reviews_per_month               1870
dtype: int64

In [64]:
# drop columns that are fully empty
cols_to_drop = [
    'neighbourhood_group_cleansed',
    'calendar_updated'
]

listings = listings.drop(columns=cols_to_drop)

# checking if empty columns are gone
listings.columns

Index(['id', 'listing_url', 'scrape_id', 'last_scraped', 'source', 'name',
       'description', 'neighborhood_overview', 'picture_url', 'host_id',
       'host_url', 'host_name', 'host_since', 'host_location', 'host_about',
       'host_response_time', 'host_response_rate', 'host_acceptance_rate',
       'host_is_superhost', 'host_thumbnail_url', 'host_picture_url',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms',
       'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month'],
      dtype='object')

In [65]:
# saving a clean working copy
listings_clean = listings.copy()

# keep rows with a valid price
listings_clean = listings_clean[listings_clean['price'].notna()]

# keep rows that have at least one review or a rating
listings_clean = listings_clean[
    (listings_clean['number_of_reviews'] > 0) |
    (listings_clean['review_scores_rating'].notna())
]

# check how many rows we have now
listings.shape[0], listings_clean.shape[0]

(7780, 4642)

In [66]:
# checking if these empty rows are filtered out
listings_clean[['price', 'number_of_reviews', 'review_scores_rating']].isna().sum()

price                   0
number_of_reviews       0
review_scores_rating    0
dtype: int64

In [67]:
# quick look at top 20 columns with missing values in the clean dataset
listings_clean.isna().sum().sort_values(ascending=False).head(20)

host_about                1678
neighbourhood             1658
neighborhood_overview     1658
license                   1464
host_location              822
host_response_rate         280
host_response_time         280
host_neighbourhood         206
host_acceptance_rate       158
host_is_superhost          111
description                 39
bedrooms                    10
beds                         9
maximum_minimum_nights       6
maximum_maximum_nights       6
minimum_minimum_nights       6
bathrooms_text               6
minimum_maximum_nights       6
bathrooms                    3
host_identity_verified       1
dtype: int64

In [68]:
# fill key capacity fields using median by room type
for col in ['bedrooms', 'beds', 'bathrooms']:
    listings_clean[col] = listings_clean.groupby('room_type')[col]\
                                        .transform(lambda x: x.fillna(x.median()))

# quick check
listings_clean[['room_type', 'bedrooms', 'beds', 'bathrooms']].isna().sum()

room_type    0
bedrooms     0
beds         0
bathrooms    0
dtype: int64

In [69]:
# Adding valuable columns using basic formulas

listings_clean['price_per_person'] = listings_clean['price'] / listings_clean['accommodates']

# days since host joined
listings_clean['host_tenure_days'] = (
    listings_clean['last_scraped'] - listings_clean['host_since']
).dt.days

# simple rating percent (0â€“100), if rating exists
listings_clean['rating_pct'] = (listings_clean['review_scores_rating'] / 5) * 100

# check a sample
listings_clean[['price', 'accommodates', 'price_per_person',
                'host_since', 'host_tenure_days',
                'review_scores_rating', 'rating_pct']].head()

,price,accommodates,price_per_person,host_since,host_tenure_days,review_scores_rating,rating_pct
0,157.0,3,52.333333,2008-07-31,6241.0,4.89,97.8
1,250.0,4,62.500000,2009-03-02,6027.0,4.87,97.4
2,67.0,1,67.000000,2009-06-20,5917.0,4.77,95.4
3,56.0,1,56.000000,2009-06-17,5920.0,4.70,94.0
4,527.0,2,263.500000,2009-07-02,5905.0,4.86,97.2

In [70]:
# rough count of amenities from the text field
def count_amenities(s):
    if pd.isna(s):
        return 0
    inner = s.strip('[]')
    if inner == '':
        return 0
    return len(inner.split(','))

listings_clean['amenities_count'] = listings_clean['amenities'].apply(count_amenities)

# quick check
listings_clean[['amenities', 'amenities_count']].head()

                                           amenities  amenities_count
0  ["Clothing storage: closet and dresser", "Esse...               55
1  ["Carbon monoxide alarm", "Shampoo", "Hair dry...               17
2  ["Dryer", "Essentials", "Hangers", "Backyard",...               31
3  ["Dedicated workspace", "Hangers", "Fire extin...               21
4  ["Dedicated workspace", "Essentials", "Hangers...               38

In [71]:
# drop url/image fields we do not need for analysis
drop_cols = [
    'listing_url', 'host_url', 'picture_url',
    'host_thumbnail_url', 'host_picture_url'
]

listings_clean = listings_clean.drop(columns=drop_cols)

# sanity check
listings_clean.columns

Index(['id', 'scrape_id', 'last_scraped', 'source', 'name', 'description',
       'neighborhood_overview', 'host_id', 'host_name', 'host_since',
       'host_location', 'host_about', 'host_response_time',
       'host_response_rate', 'host_acceptance_rate', 'host_is_superhost',
       'host_neighbourhood', 'host_listings_count',
       'host_total_listings_count', 'host_verifications',
       'host_has_profile_pic', 'host_identity_verified', 'neighbourhood',
       'neighbourhood_cleansed', 'latitude', 'longitude', 'property_type',
       'room_type', 'accommodates', 'bathrooms', 'bathrooms_text', 'bedrooms',
       'beds', 'amenities', 'price', 'minimum_nights', 'maximum_nights',
       'minimum_minimum_nights', 'maximum_minimum_nights',
       'minimum_maximum_nights', 'maximum_maximum_nights',
       'minimum_nights_avg_ntm', 'maximum_nights_avg_ntm', 'has_availability',
       'availability_30', 'availability_60', 'availability_90',
       'availability_365', 'calendar_last_scraped', 'number_of_reviews',
       'number_of_reviews_ltm', 'number_of_reviews_l30d', 'availability_eoy',
       'number_of_reviews_ly', 'estimated_occupancy_l365d',
       'estimated_revenue_l365d', 'first_review', 'last_review',
       'review_scores_rating', 'review_scores_accuracy',
       'review_scores_cleanliness', 'review_scores_checkin',
       'review_scores_communication', 'review_scores_location',
       'review_scores_value', 'license', 'instant_bookable',
       'calculated_host_listings_count',
       'calculated_host_listings_count_entire_homes',
       'calculated_host_listings_count_private_rooms',
       'calculated_host_listings_count_shared_rooms', 'reviews_per_month',
       'price_per_person', 'host_tenure_days', 'rating_pct',
       'amenities_count'],
      dtype='object')

In [72]:
# save cleaned listings dataset to use in the EDA notebook
listings_clean.to_csv('/Users/mohammedzareef-mustafa/Downloads/Tech Career/Tech Projects/Projects/airbnb-sf-eda/data/clean/listings_clean.csv', index=False)

listings_clean.head()

,id,scrape_id,last_scraped,source,name,description,neighborhood_overview,host_id,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood,neighbourhood_cleansed,latitude,longitude,property_type,room_type,accommodates,bathrooms,bathrooms_text,bedrooms,beds,amenities,price,minimum_nights,maximum_nights,minimum_minimum_nights,maximum_minimum_nights,minimum_maximum_nights,maximum_maximum_nights,minimum_nights_avg_ntm,maximum_nights_avg_ntm,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,number_of_reviews_ltm,number_of_reviews_l30d,availability_eoy,number_of_reviews_ly,estimated_occupancy_l365d,estimated_revenue_l365d,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month,price_per_person,host_tenure_days,rating_pct,amenities_count
0,958,20250901181253,2025-09-01,city scrape,"Bright, Modern Garden Unit - 1BR/1BTH",Our bright garden unit overlooks a lovely back...,Quiet cul de sac in friendly neighborhood<br /...,1169,Holly,2008-07-31,"San Francisco, CA",We are a family of four that live upstairs. W...,within an hour,100.0,100.0,True,Duboce Triangle,1.0,1.0,"['email', 'phone']",True,True,Neighborhood highlights,Western Addition,37.77028,-122.43317,Entire serviced apartment,Entire home/apt,3,1.0,1 bath,1.0,2.0,"[""Clothing storage: closet and dresser"", ""Esse...",157.0,2,30,2.0,2.0,1125.0,1125.0,2.0,1125.0,True,5,9,17,224,2025-09-01,496,41,3,24,50,255,40035.0,2009-07-23,2025-08-16,4.89,4.94,4.93,4.96,4.89,4.98,4.78,STR-0006854,False,1,1,0,0,2.53,52.333333,6241.0,97.8,55
1,5858,20250901181253,2025-09-01,city scrape,Creative Sanctuary,We live in a large Victorian house on a quiet ...,I love how our neighborhood feels quiet but is...,8904,Philip Jonathon,2009-03-02,"San Francisco, CA",Philip: English transplant to the Bay Area and...,within a day,70.0,81.0,False,Bernal Heights,2.0,2.0,"['email', 'phone', 'work_email']",True,True,Neighborhood highlights,Bernal Heights,37.74474,-122.42089,Entire rental unit,Entire home/apt,4,2.0,2 baths,2.0,2.0,"[""Carbon monoxide alarm"", ""Shampoo"", ""Hair dry...",250.0,30,90,30.0,30.0,90.0,90.0,30.0,90.0,True,22,52,82,357,2025-09-01,105,0,0,114,0,0,0.0,2009-05-03,2017-08-06,4.87,4.85,4.87,4.89,4.85,4.77,4.68,NaN,False,1,1,0,0,0.53,62.500000,6027.0,97.4,17
2,8014,20250901181253,2025-09-01,city scrape,female HOST quiet fast internet market parking,Room is on the second floor so it gets a good ...,"The neighborhood is very residential, close to...",22402,Jia,2009-06-20,"San Francisco, CA",Airbnbing while we are doing some renovation a...,within an hour,100.0,96.0,True,Sunnyside,3.0,8.0,"['email', 'phone']",True,True,Neighborhood highlights,Outer Mission,37.73077,-122.44827,Private room in home,Private room,1,2.0,2 shared baths,1.0,1.0,"[""Dryer"", ""Essentials"", ""Hangers"", ""Backyard"",...",67.0,4,60,4.0,4.0,60.0,60.0,4.0,60.0,True,0,12,42,42,2025-09-01,90,1,0,42,2,11,737.0,2012-08-03,2025-07-03,4.77,4.74,4.30,4.92,4.94,4.59,4.66,STR-0000974,False,3,0,3,0,0.57,67.000000,5917.0,95.4,31
3,8142,20250901181253,2025-09-01,city scrape,*FriendlyRoom Apt. Style -UCSF/USF - San Franc...,Nice and good public transportation. 7 minute...,"N Juda Muni, Bus and UCSF Shuttle.<br /><br />...",21994,Aaron,2009-06-17,"San Francisco, CA",7 minutes walk to UCSF hospital & school campu...,within a few hours,100.0,86.0,True,Cole Valley,20.0,21.0,"['email', 'phone']",True,True,Neighborhood highlights,Haight Ashbury,37.76555,-122.45213,Private room in rental unit,Private room,1,4.0,4 shared baths,3.0,1.0,"[""Dedicated workspace"", ""Hangers"", ""Fire extin...",56.0,32,90,32.0,32.0,90.0,90.0,32.0,90.0,True,27,57,87,362,2025-09-01,10,0,0,119,0,0,0.0,2014-09-08,2023-07-30,4.70,4.50,4.50,4.80,4.80,4.70,4.70,NaN,False,20,0,20,0,0.07,56.000000,5920.0,94.0,21
4,8339,20250901181253,2025-09-01,city scrape,Historic Alamo Square Victorian,"For creative humans who love art, space, photo...",NaN,24215,Rosmarie,2009-07-02,"San Francisco, CA",I'm an Interior Stylist living in SF.,within a few hours,100.0,0.0,False,Alamo Square,1.0,5.0,"['email', 'phone']",True,True,NaN,Western Addition,37.77377,-122.43614,Entire condo,Entire home/apt,2,1.5,1.5 baths,1.0,1.0,"[""Dedicated workspace"", ""Essentials"", ""Hangers...",527.0,9,91,9.0,9.0,91.0,91.0,9.0,91.0,True,1,22,52,327,2025-09-01,25,0,0,84,0,0,0.0,2010-04-14,2019-06-28,4.86,4.88,5.00,4.94,5.00,4.94,4.75,STR-0000264,False,1,1,0,0,0.13,263.500000,5905.0,97.2,38